{% macro modalDialogPage(id, status, confirmActionLabel, iconName) %}
    <twig:Xutim:Admin:ModalDialog
        class="btn-link text-{{ status.colorClass }} p-0"
        modalDialogColor="{{ status.colorClass }}"
        action="{{ path('admin_event_publication_status_edit', {id: id, status: status.value}) }}"
        confirmActionLabel="{{ confirmActionLabel }}"
    >
        <twig:Xutim:Admin:Icon name="{{ iconName }}" plain="true" />
    </twig:Xutim:Admin:ModalDialog>
{% endmacro %}

<twig:Xutim:Admin:SidebarItem id="translation-status-item">
    <twig:block name="header">
        {{ 'status'|trans({}, 'admin')|capitalize }}:
    </twig:block>

    <twig:block name="content">
        <div>
            <span class="badge me-2 text-bg-{{ event.status.colorClass }}">
                {{ event.status.name }}
            </span>
        </div>

        {%
            from '@XutimEvent/admin/event/_event_sidebar.html.twig' import modalDialogPage
        %}
        <div>
            {% if event.status.canBeDrafted() %}
                {{
                    modalDialogPage(event.id, constant('Xutim\\CoreBundle\\Entity\\PublicationStatus::Draft'), 'draft'|trans({}, 'admin')|capitalize, 'clipboard')
                }}
            {% endif %}

            {% if event.status.canPublish %}
                {{
                    modalDialogPage(event.id, constant('Xutim\\CoreBundle\\Entity\\PublicationStatus::Published'), 'publish'|trans({}, 'admin')|capitalize, 'cloud-upload')
                }}
            {% endif %}

            {% if event.status.canSubmitForEvaluation %}
                {{
                    modalDialogPage(event.id, constant('Xutim\\CoreBundle\\Entity\\PublicationStatus::Evaluation'), 'submit for evaluation'|trans({}, 'admin')|capitalize, 'refresh-alert')
                }}
            {% endif %}

            {% if event.status.canBeArchived %}
                {{
                    modalDialogPage(event.id, constant('Xutim\\CoreBundle\\Entity\\PublicationStatus::Archived'), 'archive'|trans({}, 'admin')|capitalize, 'archive')
                }}
            {% endif %}
        </div>
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
