{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}

<div class="mb-3">
    {% if not translation %}
        <twig:Xutim:Admin:SidebarSection>
            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="content">
                    {{
                        '%locale% translation doesn\'t exist yet.'|trans({'%locale%': content_context_language()|language_name}, 'admin')
                    }}
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>
            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="content">
                    <twig:Xutim:Admin:Button
                        variant="primary"
                        href="{{ admin_path('admin_event_edit', {id: event.id}) }}"
                        tag="a"
                    >
                        {{ 'Add the translation'|trans({}, 'admin') }}
                    </twig:Xutim:Admin:Button>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>
        </twig:Xutim:Admin:SidebarSection>
    {% endif %}
    {% if translation %}
        <twig:Xutim:Admin:SidebarSection>
            {{ include('@XutimEvent/admin/event/_event_status_item.html.twig') }}

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'starts at'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    <span id="event-starts-at-item">{{
                        event.startsAt|date('d/m/Y H:i')
                    }}</span>

                    <div class="btn-group float-end">
                        <twig:Xutim:Admin:Button
                            tag="a"
                            variant="link"
                            class="p-0"
                            data-turbo-frame="modal"
                            href="{{ admin_path('admin_event_dates_edit', {id: event.id}) }}"
                        >
                            <twig:Xutim:Admin:Icon name="edit" />
                        </twig:Xutim:Admin:Button>
                    </div>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'ends at'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    <span id="event-ends-at-item">{{
                        event.endsAt|date('d/m/Y H:i')
                    }}</span>

                    <div class="btn-group float-end">
                        <twig:Xutim:Admin:Button
                            tag="a"
                            variant="link"
                            class="p-0"
                            data-turbo-frame="modal"
                            href="{{ admin_path('admin_event_dates_edit', {id: event.id}) }}"
                        >
                            <twig:Xutim:Admin:Icon name="edit" />
                        </twig:Xutim:Admin:Button>
                    </div>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'article'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    <span id="event-article-item">
                        {% if event.article != null %}
                            {{
                                event.article.translationByLocaleOrAny(content_context_language()).title|default('')
                            }}
                        {% endif %}
                    </span>

                    <div class="btn-group float-end">
                        <twig:Xutim:Admin:Button
                            tag="a"
                            variant="link"
                            class="p-0"
                            data-turbo-frame="modal"
                            href="{{ admin_path('admin_event_article_edit', {id: event.id}) }}"
                        >
                            <twig:Xutim:Admin:Icon name="edit" />
                        </twig:Xutim:Admin:Button>
                    </div>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'page'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    <span id="event-page-item">
                        {% if event.page != null %}
                            {{
                                event.page.translationByLocaleOrAny(content_context_language()).title|default('')
                            }}
                        {% endif %}
                    </span>

                    <div class="btn-group float-end">
                        <twig:Xutim:Admin:Button
                            tag="a"
                            variant="link"
                            class="p-0"
                            data-turbo-frame="modal"
                            href="{{ admin_path('admin_event_page_edit', {id: event.id}) }}"
                        >
                            <twig:Xutim:Admin:Icon name="edit" />
                        </twig:Xutim:Admin:Button>
                    </div>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="content">
                    <div class="btn-group">
                        {% if event.status.canBeArchived %}
                            {%
                                set archiveStatus = constant('Xutim\\CoreBundle\\Entity\\PublicationStatus::Archived')
                            %}
                            <twig:Xutim:Admin:ModalDialog
                                class="btn btn-outline-{{ archiveStatus.colorClass }}"
                                modalDialogColor="{{ archiveStatus.colorClass }}"
                                action="{{ admin_path('admin_event_publication_status_edit', {id: event.id, status: archiveStatus.value}) }}"
                                confirmActionLabel="{{ 'archive'|trans({}, 'admin')|capitalize }}"
                            >
                                <twig:Xutim:Admin:Icon name="archive" />
                                {{ 'archive'|trans({}, 'admin')|capitalize }}
                            </twig:Xutim:Admin:ModalDialog>
                        {% endif %}
                        <twig:Xutim:Admin:ModalDialog
                            class="btn btn-outline-danger"
                            modalDialogColor="danger"
                            action="{{ admin_path('admin_event_delete', {id: event.id}) }}"
                            confirmActionLabel="{{ 'delete'|trans({}, 'admin')|capitalize }}"
                        >
                            <twig:Xutim:Admin:Icon name="trash" />
                            {{ 'delete'|trans({}, 'admin')|capitalize }}
                        </twig:Xutim:Admin:ModalDialog>
                    </div>
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>
        </twig:Xutim:Admin:SidebarSection>
    {% endif %}
</div>
