{% extends '@XutimCore/admin/base.html.twig' %}

{% block pageTitle %}{{ 'events'|trans({}, 'admin')|capitalize }}{% endblock %}

{% block pageMenu %}
    <twig:Xutim:Admin:Button
        tag="a"
        variant="nav"
        href="{{ admin_path('admin_event_new') }}"
    >
        <twig:Xutim:Admin:Icon name="events" class="me-1" />
        {{ 'New event'|trans({}, 'admin') }}
    </twig:Xutim:Admin:Button>
{% endblock %}

{% block languageBar %}
    <twig:Xutim:Admin:LanguageContextBar
        class="d-flex justify-content-end align-items-center mb-2"
    />
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">Events</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
    {%
        component 'Xutim:Admin:DataTable' with {
            frameId: 'events-list',
            pager: events,
            filter: filter,
        }
    %}
    {% block header %}
        {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
        <th
            class="w-1"
            title="{{ 'publication status'|trans({}, 'admin') }}"
            data-controller="tooltip"
        >
            S
        </th>
        <th
            class="w-1"
            title="{{ 'Translated language'|trans({}, 'admin') }}"
            data-controller="tooltip"
        >
            T
        </th>
        <th>
            <a href="{{ admin_filter_order_path_with('title', filter) }}">
                {{ 'title'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('title', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th>
            <a href="{{ admin_filter_order_path_with('location', filter) }}">
                {{ 'location'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('location', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>

        <th>
            <a href="{{ admin_filter_order_path_with('startsAt', filter) }}">
                {{ 'starts at'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('startsAt', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>

        <th>
            <a href="{{ admin_filter_order_path_with('endsAt', filter) }}">
                {{ 'ends at'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('endsAt', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th>
            <a>
                {{ 'updated at'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('updatedAt', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
    {% endblock %}

    {% block body %}
        {% import '@XutimCore/admin/common/badges.html.twig' as badges %}
        {% for event in events %}
            {%
                set translation = event.translationByLocaleOrAny(content_context_language())
            %}
            <tr>
                <td>{{ badges.publicationStatusBadgeSimple(event) }}</td>
                <td class="text-wrap">
                    {%
                        import '@XutimCore/admin/common/translatable.html.twig' as translatable
                    %}
                    {{ translatable.languageBadge(translation, true) }}
                </td>
                <td class="text-wrap">
                    <twig:Xutim:Admin:Button
                        tag="a"
                        variant="link"
                        data-turbo-frame="_top"
                        aria-label="{{ 'show'|trans({}, 'admin') }}"
                        href="{{ admin_path('admin_event_edit', {id: event.id}) }}"
                    >
                        {{ translation.title }}
                    </twig:Xutim:Admin:Button>
                </td>
                <td>{{ translation.location }}</td>
                <td>{{ event.startsAt|date('d/m/Y H:i') }}</td>
                <td>{{ event.endsAt|date('d/m/Y H:i') }}</td>
                <td>
                    {{ event.updatedAt|time_ago() }}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
    {% endcomponent %}
{% endblock %}
